:root {
  --background-color: #cde6f5ff;
  --primary-color: #554640ff;
  --secondary-color: #707078;
  --text-color: black;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}


